<launch>

      <arg name="publish_clock" default="--clock"/>
      <arg name="autorun" default="0"/>
      <arg name="loop_en" default="0"/>


      <!-- Chose the config file based on the sequence names -->
      <arg name="config_file" value="$(find slict)/config/KITTI.yaml" />

      <!-- Directory to log the bundle adjustment poses, pointclouds, and others-->
      <arg name="exp_log_dir" default="/home/$(env USER)/slict_logs/helmet"/>

      <!-- Load the param -->
      <rosparam file="$(arg config_file)" command="load"/>
      <!-- Set some exp related params -->
      <param name="/autoexit" type="int"    value="$(arg autorun)" />
      <param name="/loop_en"  type="int"    value="$(arg loop_en)" />
      <param name="/log_dir"  type="string" value="$(arg exp_log_dir)" />

      <!-- Run the velodyne to ouster converter -->
      <param name="/velodyne_topic"  type="string" value="/points_raw" />
      <node pkg="slict" required="true" type="slict_velodyne_to_ouster" name="slict_velodyne_to_ouster" respawn="false" output="log"/>

      <!-- Run the sensor sync -->
      <node pkg="slict" required="true" type="slict_sensorsync" name="slict_sensorsync" respawn="false" output="log"/>

      <!-- Run the Estimator -->
      <node pkg="slict" required="true" type="slict_estimator" name="slict_estimator" respawn="false" output="screen"/>

      <!--- Run Rviz-->
      <node pkg="rviz" type="rviz" name="rviz" respawn="true" output="log"
            args="-d $(find slict)/launch/helmet.rviz" />

      <!-- Play the bag file -->
      <param name="/use_sim_time" value="false" />

      <!-- <node pkg="tf" type="static_transform_publisher" name="base2view" args="0 0 0 0 0 0 world local 1"/> -->

</launch>